{% extends "base.jinja2" %}
{% block title %}400 - Bad Request{% endblock %}

{% block content %}
    <h1>File Not Found</h1>
    <p>{{error.description.message}}</p>
    <p><a href="{{ url_for('common.experiments') }}">Back</a></p>
{% endblock %}
