{% extends "base.jinja2" %}
{% block title %}Form data{% endblock %}
{% block extracss %}<link rel="stylesheet" href=//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.3/css/theme.default.css>{% endblock %}

{% block content %}
    <table id="formdata">
        <thead>
            <tr><td>Key</td><td>Value</td></tr>
        </thead>
        <tbody>
            {% for k,v in formdata.items() %}
            <tr><td>{{k}}</td><td>{{v}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.3/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() { $("#formdata").tablesorter({initWidgets: true, widgets: ['zebra']}); });
    </script>
{% endblock %}
