{% extends "base.jinja2" %}
{% block title %}Available experiments{% endblock %}
{% block content %}
    <div id="experiments">
        <h2>Experiments</h2>
        <p>Total: {{experiments|length}} experiments</p>
        <ul>{% for e in experiments %}
            <li>
                <a href="{{ url_for('common.experiment_detail', experiment=e.name)}}">{{e.name}}</a>
                <a href="{{ url_for('sprrunner.spr_demo', experiment=e.name) }}">(demo - random)</a>
                <ul class="inline-list">
                {% for lst in e.lists %}
                <li><a href="{{ url_for('sprrunner.spr_demo', experiment=e.name, listid=lst.id) }}">(demo - {{lst.name}})</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
