{% extends "experiment_base.jinja2" %}
{% block title %}Alien Language Learning Game{% endblock %}
{% block exptcss %}
    <style type="text/css">
    .debrief, .debrief > ol > li, #rsrb {display:none;}
    .surveyq h3 { text-decoration: underline; }
    </style>
{% endblock %}

{% block content %}
<div id="instructions">
  <img src="https://www.hlp.rochester.edu/URlogo.png" width="410" height="85" alt="University of Rochester"/>
  <p>You must be a native speaker of <span style="font-weight: bold;">American</span> English. If you have not spent
    almost all of your time until the age of 10 in the United States, you cannot participate. If you have a
    non-American accent we will not be able to pay you. For example, British or Indian English is not permissible for
    this experiment.</p>
  <p>This task requires Adobe Flash. If you do not already have Flash installed, you can download and install the
    free Flash player from <a href="http://get.adobe.com/flashplayer/">this website</a> before accepting this HIT.
    Also, please do not disable Javascript in your browser.</p>
  <noscript>Please do not disable Javascript in your browser!</noscript>
        <br/>
  <p>In this task, you will see a series of videos and hear their description in an artificial alien language that will
    help you to learn some basic words and sentences in the language. You will be presented with instructions along the
    way explaining what to do at each point during the task. Towards the end, you will get a chance to put together your
    own sentences in the language based on what you have learned by watching the videos and listening to their descriptions.
    Please make sure your volume is turned up and you are free from any distractions while completing this task. Please
    note that the HIT involves a lot of repetition and is time-consuming. The average completion time of the task is
    around 40 minutes, but it may take longer than that and up to 1 hour. If you do not have this amount of time to spare,
    please do not accept this HIT.&nbsp;<b>You will receive $4.00 for successful completion of this HIT in full.</b> If
    you have any comments or feedback during the course of the task, please feel free to enter them into the comments
    box at the bottom of the page, but please do not hit the Submit button until you have completed the task. Thanks for
    participating!</p>
    <p style="font-weight:bold;font-style:italic;">There are several similar or identical versions of this HIT currently
    running, as well as additional HITs that we are done collecting data from. Please only do one version. If you have
    already done the previous version or one of the other current versions, please do not accept this HIT (or return it
    if you have accepted it). If you do more than one, we will have to reject your work on all but the first you do.</p>
    <div id="consent">
        By accepting this HIT, you confirm that you have read and understood the
        <a target="_blank" href="https://www.hlp.rochester.edu/consent/RSRB_24018_Consent_2015-05-13.pdf">consent form</a>,
        that you are willing to participate in this experiment, and that you
        agree that the data you provide by participating can be used in
        scientific publications (no identifying information will be used).
        Sometimes it is necessary to share the data elicited from you
        &mdash; including sound files &mdash; with other researchers for scientific
        purposes (for replication purposes). That is the only reason for
        which we will share data and we will only share data with other
        researchers and only if it is for non-commercial use. Identifying
        information will <span style="font-weight:bold;">never</span> be shared (your MTurk ID will be replaced
        with an arbitrary alphanumeric code).
    </div>
    <p style="font-weight:bold;">Once you press the button below, these instructions will disappear, so make sure you
    understand them fully before you start.</p>
    <p>Sometimes it can happen that technical difficulties cause experimental scripts to freeze so that you will not be
    able to submit a HIT. We are trying our best to avoid these problems. Should they nevertheless occur, we urge you to
    contact us.</p>
    <button type="button" id="endinstr">I confirm that I have read and understood the instructions and want to start the experiment</button>
    <p>Please follow the instructions in the applet below. Do not click &quot;submit&quot; until you have completed the
    whole task. We will be unable to pay for HITs if they are submitted without being completed.</p>
</div>
<div id="flashcontent">Flash is required for this experiment</div>
{% endblock %}

{% block formfields %}
    {% if not preview-%}
    {% include "rsrb_survey.jinja2" %}
    {%- endif %}
        <input type="hidden" id="flashversion" name="flashversion" value="NA"/>
{% endblock %}

{% block exptjs %}
    <script type="text/javascript">window.experiment_script = "{{condition}}";</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="{{ url_for('common.static', filename='js/kl.js') }}"></script>
{% endblock %}
