{% extends "experiment_base.jinja2" %}

{% block exptcss %}
{# FIXME; need a socalign2.css file too #}
{% assets filters='cleancss', output='generated/socalign2.min.css',
    'socalign/css/socalign2common.css',
    'socalign/css/socalign2.css',
    'socalign/css/oldbrowser.css',
    'socalign/css/statusarea.css',
    'socalign/css/instructions.css',
    'socalign/css/survey.css'%}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block headjs %}
<script type="text/javascript" src="{{ url_for('socalign.static', filename='js/lib/modernizr-custom.js') }}"></script>
{% endblock %}

{% block content %}
{% include 'oldbrowser.jinja2' %}
<div id="instructions" class="textdisplay">
  <img id="urlogo" src="{{ url_for('static', filename='img/UR.v2.svg')}}" alt="University of Rochester" width="187" height="152"/ />
  <ul class="instructionlist">
    <li id="intro" class="instructionlistitem">
      <h3><a>Welcome!</a></h3>
      <div class="listcontent">
        <p>Thanks for your interest in our experiment. Please read through each
          of following items to inform you about the study and its requirements.
          Click each item to expand it or close it. In order to continue you must
          read the <span class="blockname">"Microphone testing and setup"</span>,
          <span class="blockname">"Experiment instructions"</span> and
          <span class="blockname">"Informed consent"</span> sections; be sure to
           check the boxes in each of those sections!
        </p>
        <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="audiosetup" class="instructionlistitem">
      <h3><a>Microphone testing and setup</a></h3>
      <div class="listcontent">
          <p style="font-weight:bold;">In this experiment you will listen to
          audio and answer questions about it. You need a working head set.
          This experiment requires JavaScript to be enabled.
          {% if not preview %}
          <p>Before we proceed, please adjust your system volume settings so that you
          can easily understand the sound file below. Once adjusted, please do
          not change the volume throughout the experiment. Doing so will invalidate
          the experiment and we won't be able to pay you. You can play this sound
          file as often as you want to adjust the sound level</p>
          <audio id="voladjust" controls='controls'>
              <source src="{{ url_for('socalign.static', filename='stimuli/instructions_adjustVolume.ogg') }}" type="audio/ogg" />
              <source src="{{ url_for('socalign.static', filename='stimuli/instructions_adjustVolume.mp3') }}" type="audio/mpeg" />
              Your browser does not support the audio element.
          </audio>

          <div class="micsetup">
            <p>
              <!-- Now let's adjust your microphone settings. Once you hit the
              "Start Recording" button below, please speak into your microphone, -->
              Now let's adjust your microphone settings. Please speak into your microphone,
              saying something like "The rain in Spain falls mainly on the plain"
              over and over while adjusting your microphone level until you are sure
              that the level is good.</p>
            <p>
              You have a good level if you are seeing <span style="color:green;">green</span>
               bars bouncing in the box below as you speak. Your level is too high
               if the bars turn <span style="color:red;">red</span>.
            </p>
              <!-- <button type="button" id="startrecordtest">Start Recording</button>
              <button type="button" id="endrecordtest" disabled="disabled">Stop Recording</button> -->
              <p id="teststate"></p>
              <canvas id="micgraph" width="250" height="100"></canvas>
              <p class="micwarning" style="color: red;">If you see no plot of
              volume intensity in the plot above as you speak, you either
              have not given our site permissions to record sound from your
              microphone or your microphone is muted or not working. Please
              do not continue with the experiment if you cannot resolve this
              issue. We won't be able to use your recordings and you will not
              be paid.</p>
              <p>By checking the 'My audio is adjusted' box below, I
              confirm that I adjusted my volume and recording settings.</p>
              <input type="checkbox" id="micadjusted"/><label for="micadjusted">My audio is adjusted</label>
          </div>
          <button type="button" class="instructionbutton" disabled="disabled" id="endaudiosetup">Take me to the next section</button>
        </div>
    </li>
    {% endif %}
    <li id="exptphases" class="instructionlistitem">
      <h3><a>Experiment Instructions</a></h3>
      <div class="listcontent">
          <p>This experiment consists of four phases.</p>
          <p>In <span style="font-weight:bold;">phase one</span>, you will listen to a short speech from an amateur debater.
          In this speech, the speaker will present his/her stance on a current political
          issue. Listen carefully to the speech, and form an impression of the speaker and
          their argument. You will be asked to describe them later.</p>
          <p><span style="font-weight:bold;">Phase two</span>  is a picture description
            task. You will see a series of pictures presented one at a time. Your
            job is to describe what is happening in each picture using one sentence.</p>
          <span style="font-weight:bold;">Phase three</span> is a memory task. You
          will see a series of written sentences presented one at a time. Your job
          is to indicate whether each sentence occurred in the speech that you
          heard in <span style="font-weight:bold;">phase one</span>.</p>
          <span style="font-weight:bold;">Phase four</span> is a
          brief survey. This survey consists of questions about the
          speech that you heard in <span style="font-weight:bold;">phase one</span>
          and questions about you as a participant. The data we collect with the
          survey will be non-identifying. It is very important to us that you try
          to answer the questions in the survey to the best of your abilities.
          Rushing through the survey will make your data completely useless for
          our research purpose.</p>
          <p class="warn">Please do not reload the
            experiment or refresh your browser under any conditions.</p>
          <p class="warn">Please do not take breaks in the middle of the experiment. It is
            important that you do the experiment in one go.</p>
          <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="exptlength" class="instructionlistitem">
      <h3><a>Experiment Length</a></h3>
      <div class="listcontent">
        <p>All together the experiment will take about 20 minutes. Thank
        you for your participation </p>
        <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="consent" class="instructionlistitem">
      <h3><a>Informed Consent</a></h3>
      <div class="listcontent">
          <p>By accepting this HIT, you confirm that you have read and understood the
          <a target="_blank" href="https://www.hlp.rochester.edu/consent/RSRB_24018_Consent_Current.pdf">consent form</a>,
          that you are willing to participate in this experiment, and that you
          agree that the data you provide by participating can be used in
          scientific publications (no identifying information will be used).
          Sometimes it is necessary to share the data elicited from you
          &mdash; including sound files &mdash; with other researchers for scientific
          purposes (for replication purposes). That is the only reason for
          which we will share data and we will only share data with other
          researchers and only if it is for non-commercial use. Identifying
          information will <span style="font-weight:bold;">never</span> be shared (your MTurk ID will be replaced
          with an arbitrary alphanumeric code).</p>
          <button type="button" class="instructionbutton">Take me to the next section</button>
      </div>
    </li>
    <li id="startexperiment" class="instructionlistitem">
      <h3><a>Start Experiment</a></h3>
      <div class="listcontent">
        <p style="font-weight:bold;">Once you press Start, these instructions
        will disappear, so make sure you understand them fully before you start.
        A sound file will start playing automatically. Please make sure that
        your volume settings are adjusted (see above).</p>
        <button type="button" id="endinstr">I confirm that I have read and understood
          the instructions and the consent and want to start the experiment</button>
      </div>
    </li>
    <li id="optionalinfo" class="instructionlistitem">
      <h3><a>Further (optional) information</a></h3>
      <div class="listcontent">
        <p>Sometimes it can happen that technical difficulties cause experimental
        scripts to freeze so that you will not be able to submit a HIT. We are trying
        our best to avoid these problems. Should they nevertheless occur, we urge
        you to contact us.</p>
      </div>
    </li>
  </ul>
</div>

{% if not preview %}
{% include 'status_area.html' %}
<div id="progress_area">
  <h3>Progress through entire experiment</h3>
  <progress id="experiment_progress" max="4" value="0"></progress>
  <p id="phase_label">Instructions</p>
</div>
{% set exposure_stimuli = trials[0]['stimulus'] %}
{% include 'exposure.html' %}
{% endif %}
{% endblock %}

{% block exptformfields %}
{% if not preview %}

{% for trialblock in trials[1:] %}
<div class="block {{trialblock.type}} textdisplay" id="{{trialblock.block}}">
  <p class="blockinstr">{{trialblock.instructions}}</p>
  <div class="newblock">
    <p>Read the instructions above before starting this block.</p>
    <button type="button" class="startblock {{trialblock.type}}">Start Block</button>
  </div>
{% for trial in trialblock.trials %}
  {% if trialblock.type == '2AFC' %}
  <div class="testtrial" id="{{'%s_%s_%s'|format(trial.StimulusType,trial.TakenFromPassage,trial.TrialOrder)|replace(' ','')|replace('.','_')}}">
    <p class="stimsentence">"{{trial.Stimulus}}"</p>
    <button type="button" class="yesno yes" value="Yes">Yes (f)</button>
    <button type="button" class="yesno no" value="No">(j) No</button>
  </div>
  {% elif trialblock.type == 'sentence_completion' %}
  <div class="testtrial" id="{{'%s_%s_%s'|format(trial.StimulusType,trial.BlockTrial,trial.TrialOrder)}}">
    <p class="fixcross">+</p>
    <p class="stimsentence">{{trial.Stimulus}}</p>
    {% set StimulusID = '%s.%s.%d.%d'|format(trial.ExposurePassage,trial.StimulusType,trial.BlockTrial,trial.TrialOrder)|e %}
    <a class="upload" href="{{ get_upload_link(experiment, amz.workerId, amz.assignmentId, StimulusID) }}"></a>
    <button type="button" class="stoprecord">Next</button>
  </div>
  {% elif trialblock.type == 'picture_description' %}
  <div class="testtrial" id="{{'%s_%s_%s'|format(trial.StimulusType,trial.BlockTrial,trial.TrialOrder)}}">
    <div class="picture_container">
      <img src="{{ url_for('socalign.static', filename="stimuli/%s.jpg"|format(trial.Stimulus)) }}" alt="" width="{{trial.PictureWidth}}" height="{{trial.PictureHeight}}"/><br/>
    </div>
    {% set StimulusID = '%s.%s.%d.%d'|format(trial.ExposurePassage,trial.StimulusType,trial.BlockTrial,trial.TrialOrder)|e %}
    <a class="upload" href="{{ get_upload_link(experiment, amz.workerId, amz.assignmentId, StimulusID) }}"></a>
    <button type="button" class="stoprecord">Next</button>
  </div>
  {% endif %}
{% endfor%}
</div>
{% endfor %}

{% include 'survey.html' %}
{% include "rsrb_survey.jinja2" %}

<input type="hidden" name="trials" value="NA"/>

{% for trialblock in trials %}
  {% if trialblock.type == 'exposure' %}
  <input type="hidden" name="experiment.ExposurePassage" value="{{trialblock.stimulus|e}}"/>
  {% endif %}
  {% for trial in trialblock.trials %}
    {% set trialid = '%s_%s_%s'|format(trial.StimulusType,trial.TakenFromPassage,trial.TrialOrder)|replace(' ','')|replace('.','_') %}
    {% for key,value in trial.items() %}
    <input type="hidden" name="{{trialid}}.{{key|e}}" value="{{value|e}}"/>
    {% endfor %}
  {% endfor %}
{% endfor %}

{% endif %}
{% endblock %}

{% block exptjs %}
{% if not preview %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/keypress/2.1.3/keypress.min.js"></script>
<script type="text/javascript" src="{{ url_for('socalign.static', filename='js/lib/volume-meter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('socalign.static', filename='js/lib/recorder.js') }}"></script>
<script type="text/javascript" src="{{ url_for('socalign.static', filename='js/lib/recorderWorker.js') }}"></script>
{% assets filters='uglifyjs', output='generated/socalign2pd.min.js',
    'socalign/js/socalign2pd.js',
    'socalign/js/DateISOStringShim.js',
    'socalign/js/audio-helpers.js',
    'socalign/js/instructions.js',
    'socalign/js/survey_wrapup.js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% else %}
{% assets filters='uglifyjs', output='generated/socalign2pd_preview.min.js',
    'socalign/js/instructions.js', 'socalign/js/socalign_record_preview.js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
