                    <div id="survey" class="textdisplay">
                        <div id="page1">
                        {%if survey == 1 %}
                            {% set page1 = [("The speaker's arguments were politically conservative.", "q.speaker.conservative", "1 not at all; 6 absolutely"),
                                            ("The speaker's arguments were politically liberal.", "q.speaker.liberal", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded articulate.", "q.speaker.articulate", "1 not at all; 6 absolutely"),
                                            ("The speaker had a non-standard accent.", "q.speaker.accented", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded intelligent.", "q.speaker.intelligent", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded educated.", "q.speaker.educated", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded self-centered.", "q.speaker.self-centered", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded generous.", "q.speaker.generous", "1 not at all; 6 absolutely"),
                                            ("The speaker's arguments were weak.", "q.speaker.weak_arguments", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded shy.", "q.speaker.shy", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded enthusiastic.", "q.speaker.enthusiastic", "1 not at all; 6 absolutely"),
                                            ("The speaker was easy to understand.", "q.speaker.easy_to_understand", "1 not at all; 6 absolutely")] %}
                        {% else %}
                            {% set page1 = [("The speaker speaks like I do.", "q.participant.speaker_speaks_like_me", "1 not at all; 6 absolutely"),
                                            ("The speaker is similar to me.", "q.participant.speaker_is_similar_to_me", "1 not at all; 6 absolutely"),
                                            ("The speaker would have an easy time understanding me.", "q.participant.speaker_would_understand_me", "1 not at all; 6 absolutely"),
                                            ("I agree with the speaker's arguments.", "q.participant.agree_with_speaker", "1 not at all; 6 absolutely"),
                                            ("I would want the speaker as a friend.", "q.participant.want_speaker_as_friend", "1 not at all; 6 absolutely"),
                                            ("I paid close attention to the speaker's arguments.", "q.participant.attention_to_speakers_argument", "1 not at all; 6 absolutely")] %}
                            <fieldset>
                            <p class="surveyhead">Please indicate the extent to which you agree with the following statements.</p>
                            {% for question, formname, scale in page1|shuffle %}
                            <table class="survquest" id="{{formname}}">
                                <tr>
                                    <td colspan="6">
                                        <p class="sentence">{{question}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td><input required data-msg="Please fill this field" type="radio" name="{{formname}}" value="{{x}}" class="likert"/></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td>{{x}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="6">{{scale}}</td>
                                </tr>
                            </table>
                            {% endfor %}
                            </fieldset>
                        {% endif %}
                            <button type="button" class="next" id="end1">Next</button>
                        </div>

                        <div id="page2">
                        {%if survey == 1  %}
                            {% set page2 = [("The speaker speaks like I do.", "q.participant.speaker_speaks_like_me", "1 not at all; 6 absolutely"),
                                            ("The speaker is similar to me.", "q.participant.speaker_is_similar_to_me", "1 not at all; 6 absolutely"),
                                            ("The speaker would have an easy time understanding me.", "q.participant.speaker_would_understand_me", "1 not at all; 6 absolutely"),
                                            ("I agree with the speaker's arguments.", "q.participant.agree_with_speaker", "1 not at all; 6 absolutely"),
                                            ("I would want the speaker as a friend.", "q.participant.want_speaker_as_friend", "1 not at all; 6 absolutely"),
                                            ("I paid close attention to the speaker's arguments.", "q.participant.attention_to_speakers_argument", "1 not at all; 6 absolutely")] %}
                        {% else %}
                            {% set page2 = [("The speaker's arguments were politically conservative.", "q.speaker.conservative", "1 not at all; 6 absolutely"),
                                            ("The speaker's arguments were politically liberal.", "q.speaker.liberal", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded articulate.", "q.speaker.articulate", "1 not at all; 6 absolutely"),
                                            ("The speaker had a non-standard accent.", "q.speaker.accented", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded intelligent.", "q.speaker.intelligent", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded educated.", "q.speaker.educated", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded self-centered.", "q.speaker.self-centered", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded generous.", "q.speaker.generous", "1 not at all; 6 absolutely"),
                                            ("The speaker's arguments were weak.", "q.speaker.weak_arguments", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded shy.", "q.speaker.shy", "1 not at all; 6 absolutely"),
                                            ("The speaker sounded enthusiastic.", "q.speaker.enthusiastic", "1 not at all; 6 absolutely"),
                                            ("The speaker was easy to understand.", "q.speaker.easy_to_understand", "1 not at all; 6 absolutely")] %}
                            <fieldset>
                            <p class="surveyhead">Please indicate the extent to which you agree with the following statements.</p>
                            {% for question, formname, scale in page2|shuffle %}
                            <table class="survquest" id="{{formname}}">
                                <tr>
                                    <td colspan="6">
                                        <p class="sentence">{{question}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td><input required data-msg="Please fill this field" type="radio" name="{{formname}}" value="{{x}}" class="likert"/></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td>{{x}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="6">{{scale}}</td>
                                </tr>
                            </table>
                            {% endfor %}
                            </fieldset>
                        {% endif %}
                            <button type="button" class="next" id="end2">Next</button>
                        </div>

                        <div id="page3">
                            <fieldset>
                                <p class="surveyhead">Education</p>

                                <table class="survquest" id="education">
                                    <tr>
                                        <td>Education</td>
                                        <td>
                                            <select name="q.participant.education">
                                                <option value="" selected="selected">-----</option>
                                                <option value="didn't finish high school">didn't finish high school</option>
                                                <option value="finished high school">finished high school</option>
                                                <option value="attended college">attended college</option>
                                                <option value="finished college">finished college</option>
                                                <option value="attend graduate school">started and/or finished graduate education</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>

                            <fieldset id="ideology">
                            <p class="surveyhead">Please indicate the extent to which you agree with the following statements.</p>
                            {% for question, formname, scale in [
                                ('My political views are usually conservative.', 'q.ideology.conservative', '1 not at all; 6 absolutely'),
                                ('My political views are usually liberal.', 'q.ideology.liberal', '1 not at all; 6 absolutely'),
                                ('Of the two major political US parties, I most often agree with the Republicans.', 'q.ideology.republicans', '1 not at all; 6 absolutely'),
                                ('Of the two major political US parties, I most often agree with the Democrats.', 'q.ideology.democrats', '1 not at all; 6 absolutely'),
                                ('I enjoy hearing accents from different places.', 'q.ideology.enjoy_accents', '1 not at all; 6 absolutely'),
                                ("It bothers me when someone doesn't speak English properly.", 'q.ideology.proper_english', '1 not at all; 6 absolutely'),
                                ('English should be the official language of the US.', 'q.ideology.official_language', '1 not at all; 6 absolutely'),
                                ('Speaking well is important to me.', 'q.ideology.importance_of_speaking_well', '1 not at all; 6 absolutely'),
                                ("One's accent is an important part of one's self-presentation.", 'q.ideology.accent_and_self-presentation', '1 not at all; 6 absolutely'),
                                ('People with strong accents are just as likely to be smart as people without accents.', 'q.ideology.accent_predicts_intelligence', '1 not at all; 6 absolutely'),
                            ]|shuffle %}
                            <table class="survquest" id="{{formname}}">
                                <tr>
                                    <td colspan="6">
                                        <p class="sentence">{{question}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td><input required data-msg="Please fill this field" type="radio" name="{{formname}}" value="{{x}}" class="likert"/></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td>{{x}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="6">{{scale}}</td>
                                </tr>
                            </table>
                            {% endfor %}
                            </fieldset>
                            <button type="button" class="next" id="end3">Next</button>
                        </div>

                        <div id="page4">
                            <fieldset>
                            <p class="surveyhead">Please think of a specific,
                            recent conflict you had with someone you did not know well.
                            For each sentence below, rate how well that sentence describes
                            your feelings or actions during that conflict.</p>

                            {% for question, formname, scale in [
                                ('I tried to persuade the other person that my way was the best way. ', 'q.conflict.dominate.my_way_best', '1 not at all; 6 absolutely'),
                                ('I tried to ignore the conflict and behaved as if nothing happened. ', 'q.conflict.avoid.ignore', '1 not at all; 6 absolutely'),
                                ('I tried to meet the other person halfway.', 'q.conflict.integrate.meet_halfway', '1 not at all; 6 absolutely'),
                                ('I insisted my position be accepted during the conflict.', 'q.conflict.dominate.insist_my_position_be_accepted', '1 not at all; 6 absolutely'),
                                ("I tried to pretend that the conflict didn't happen.", 'q.conflict.avoid.pretend_nothing_happend', '1 not at all; 6 absolutely'),
                                ("I pretended as if the conflict didn't exist.", 'q.conflict.avoid.pretend_no_conflict', '1 not at all; 6 absolutely'),
                                ('I tried to find a middle course to resolve the situation.', 'q.conflict.integrate.middle_course', '1 not at all; 6 absolutely'),
                                ('I dominated the argument until the other person understood my position. ', 'q.conflict.dominate.dominate_until_other_understands', '1 not at all; 6 absolutely'),
                                ("I tried to use 'give and take' so that a compromise could be made.", 'q.conflict.integrate.give_and_take', '1 not at all; 6 absolutely')
                            ]|shuffle %}
                            <table class="survquest" id="{{formname}}">
                                <tr>
                                    <td colspan="6">
                                        <p class="sentence">{{question}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td><input required data-msg="Please fill this field" type="radio" name="{{formname}}" value="{{x}}" class="likert"/></td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for x in range(1,7) %}
                                    <td>{{x}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="6">{{scale}}</td>
                                </tr>
                            </table>
                        {% endfor %}
                            </fieldset>
                        <button type="button" class="next" id="endsurvey">Done</button>
                        </div>

                    </div>
