.blockname {
  font-weight: bold;
}

.textdisplay {
  position:relative;
  width: 90%;
  max-width: 825px;
  top: 1%;
  left: 1%;
  height: auto;
  margin: 0 auto;
  padding:2em 0 0 0;
}

.instructionlist {
  margin: 0;
  padding: 0;
}

.instructionlistitem {
  width: 100%;
  height: auto;
}

.listcontent{
  display: none;
}

/*.listcontent:first {
  display: block;
}*/
